{% macro difficultyOption (value) %}
  <a-entity class="difficultyFilterOption" data-difficulty-filter="{{ value }}">
    <a-entity class="difficultyFilterBackground"
        bind__active-item="active: difficultyFilter === '{{ value }}'"
        bind__animation__mouseenter="enabled: difficultyFilter !== '{{ value }}'"
        bind__animation__mouseleave="enabled: difficultyFilter !== '{{ value }}'"
        bind__animation__mouseentervisible="enabled: difficultyFilter !== '{{ value }}'"
        bind__animation__mouseleavevisible="enabled: difficultyFilter !== '{{ value }}'"
        bind__difficulty-background="enabled: difficultyFilterMenuOpen && difficultyFilter !== '{{ value }}'"
        bind__material="color: colorPrimary"
        animation__mouseenter="property: components.material.material.opacity; to: 0.3; startEvents: mouseenter; dur: 150"
        animation__mouseleave="property: components.material.material.opacity; to: 0.0; startEvents: mouseleave; dur: 75"
        event-set__mouseenter="visible: true"
        event-set__mouseleave="visible: true; _delay: 160"
        geometry="primitive: plane; width: 0.4; height: 0.2"
        material="shader: flat; transparent: true; opacity: 0; src: #difficultyImg"
        position="0 -0.005 0"
        play-sound="event: mouseenter; sound: #hoverSound; volume: 0.03"
        render-order="menuitem"></a-entity>
    <a-entity
      class="difficultyFilterText"
      mixin="font"
      bind__active-text-color="active: difficultyFilter === '{{ value }}'"
      active-text-color="color: #fff"
      difficulty-text="id: {{ value }}"
      text="wrapCount: 30; align: center; color: #8d8d8d"
      position="0 -0.057 0.001"
      render-order="menutext"></a-entity>
  </a-entity>
{% endmacro %}

{% set options = [
  'All',
  'Easy',
  'Normal',
  'Hard',
  'Expert',
  'Expertplus'
] %}

<a-entity
  id="difficultyFilterMenu"
  bind__visible="difficultyFilterMenuOpen"
  layout="type: box; columns: 1; marginRow: -0.2"
  difficulty-filter
  position="0 0.5 0">
  {% for option in options %}
    {{ difficultyOption(option) }}
  {% endfor %}
</a-entity>
