<a-mixin
  id="gameMenuButton"
  mixin="bigMenuButton"
  animation__mouseenter="property: components.material.material.uniforms.activePanel.value; from: 0; to: 1; startEvents: mouseenter; pauseEvents: mouseleave; dur: 70"
  animation__mouseleave="property: components.material.material.uniforms.activePanel.value; from: 1; to: 0; startEvents: mouseleave; pauseEvents: mouseenter; dur: 70"
  geometry="height: 0.28"></a-mixin>

<a-mixin
  id="gameMenuButtonText"
  mixin="font"
  position="0 -0.08 0.01"
  render-order="menutext"
  text="align: center; wrapCount: 17"></a-mixin>

<!-- Titles. -->
<a-entity id="inGameMenuTitles" position="0 2.2 -2.3">
  <a-entity mixin="gameMenuButtonText" text="value: GAME OVER; color: {{ COLORS.UI_ACCENT2 }}; width: 3.5" bind__visible="isGameOver"></a-entity>
  <a-entity mixin="gameMenuButtonText" text="value: SONG CLEARED; color: #FFF; width: 3.5" bind__visible="isVictory" position="0 0.1 0"></a-entity>
  <a-entity mixin="gameMenuButtonText" bind__text="color: colorPrimary" text="value: PAUSED; width: 3.5" bind__visible="isPaused"></a-entity>
</a-entity>

<a-entity
  id="gameMenu"
  bind__visible="isPaused || isVictory"
  position="0 1.5 -2"
  play-sound="event: mouseenter; sound: #hoverSound; volume: 0.1"
  play-sound__click="event: click; sound: #confirmSound; volume: 0.25">

  <!-- Actions. -->
  <a-entity
    id="resumeButton"
    mixin="gameMenuButton"
    bind-toggle__raycastable="isPaused"
    bind__visible="isPaused"
    position="0 0.35 0"
    proxy-event="event: click; to: a-scene; as: gamemenuresume">
    <a-entity mixin="gameMenuButtonText" text="value: RESUME"></a-entity>
  </a-entity>

  <a-entity
    id="restartButton"
    mixin="gameMenuButton"
    bind__visible="!isVictory"
    bind-toggle__raycastable="isPaused || isGameOver"
    proxy-event="event: click; to: a-scene; as: gamemenurestart">
    <a-entity mixin="gameMenuButtonText" text="value: RESTART SONG"></a-entity>
  </a-entity>

  <a-entity
    id="exitButton"
    mixin="gameMenuButton"
    bind__visible="!isVictory"
    bind-toggle__raycastable="isPaused || isGameOver"
    position="0 -0.35 0"
    proxy-event="event: click; to: a-scene; as: gamemenuexit">
    <a-entity mixin="gameMenuButtonText" text="value: EXIT TO MENU"></a-entity>
  </a-entity>

  <!-- Song info. -->
  <a-entity id="gameMenuSongInfoContainer"
    position="0 -1 0.15473"
    rotation="-20 0 0"
    song-info-positioner
    bind__song-info-positioner="victory: isVictory">
    <a-entity id="gameMenuSongBackground"
      bind-toggle__raycastable="isPaused || isVictory"
      render-order="menu"
      geometry="primitive: plane; width: 2.5; height: 0.3"
      material="shader: panelShader; transparent: true; ratio: 4; borderRadius: 0.5; borderWidth: 0.02"
      position="0 0 -0.03"></a-entity>

    <a-entity id="gameMenuSongImage"
      copy-texture="from: #menuSelectedChallengeImage"
      geometry="primitive: plane; buffer: false; skipCache: true; height: 0.3; width: 0.3"
      material="shader: flat"
      position="-1 0 0"></a-entity>

    <a-entity id="gameMenuSongInfo">
      <a-entity
        id="gameMenuSongName"
        position="0 0.01 0"
        mixin="font" text="align: center; color: #fff; wrapCount: 30; baseline: top; lineHeight: 36; width: 1.2"
        bind__text="value: challenge.metadata.songName"></a-entity>
      <a-entity
        id="gameMenuSongSubName"
        mixin="font"
        position="0 -0.09 0"
        bind__text="color: colorSecondary"
        bind__text-truncate="value: challenge.metadata.songSubName + ' - ' + challenge.metadata.songAuthorName"
        text-truncate="length: 80"
        text="wrapCount: 80; align: center; width: 2.4" bind__text="value: menuSelectedChallenge.songSubName"></a-entity>
    </a-entity>
  </a-entity>
</a-entity>
