<a-entity
  id="genreMenu"
  bind-for="for: genre; in: genres; updateInPlace: true; key: name"
  bind__visible="genreMenuOpen"
  layout="type: box; columns: 6; marginRow: 0.4; marginColumn: 0.4; align: center"
  menu-genre
  position="0 0 0.05">
  <template>
    <a-entity class="genre" bind-item__data-genre="item">
      <a-entity
        mixin="slice"
        slice9="opacity: 0.9; width: 0.35; left: 70; top: 70; height: 0.35; padding: 0.07"
        animation__mouseenter2="property: scale; from: 1 1 1; to: 1.03 1.03 1.03; startEvents: mouseenter; pauseEvents: mouseleave; easing: easeOutCubic; dur: 150"
        animation__mouseleave2="property: scale; from: 1.03 1.03 1.03; to: 1 1 1; startEvents: mouseleave; pauseEvents: mouseenter; easing: easeOutCubic; dur: 150"
        proxy-event__enter="event: mouseenter; to: CHILDREN; captureBubbles: true"
        proxy-event__leave="event: mouseleave; to: CHILDREN; captureBubbles: true"
        play-sound__click="event: click; sound: #confirmSound; volume: 0.1"
        raycaster-target="bindToggle: genreMenuOpen; width: 0.35; height: 0.35"
        render-order__nonrecursive="menubutton">
        <a-entity
          mixin="font"
          bind-item__text="value: item.name"
          text="align: center; width: 1.1; color: #888"
          animation__mouseenter="property: components.text.material.uniforms.color.value; from: #888; to: #FFF; type: color; startEvents: mouseenter; pauseEvents: mouseleave; easing: easeOutCubic; dur: 150"
          animation__mouseleave="property: components.text.material.uniforms.color.value; from: #FFF; to: #888; type: color; startEvents: mouseleave; pauseEvents: mouseenter; easing: easeOutCubic; dur: 150"
          render-order="menutext"
          position="0 -0.16 0.001"></a-entity>
        <a-entity
          class="genreIcon"
          bind-item__atlas-uvs="totalColumns: 6; totalRows: 3; row: item.row; column: item.column"
          geometry="primitive: plane; width: 0.22; height: 0.22; buffer: false; skipCache: true"
          position="0 0.04 0.002"
          material="shader: flat; src: #genresImg; transparent: true; color: #888"
          render-order="menutext"
          animation__mouseenter="property: components.material.material.color; type: color; from: #888; to: #FFF; startEvents: mouseenter; pauseEvents: mouseleave; easing: easeOutCubic; dur: 150"
          animation__mouseleave="property: components.material.material.color; type: color; from: #FAFAFA; to: #888; startEvents: mouseleave; pauseEvents: mouseenter; easing: easeOutCubic; dur: 150"></a-entity>
      </a-entity>
    </a-entity>
  </template>
</a-entity>
