<a-entity
  id="mainLogo"
  geometry="primitive: plane; width: 9; height: 1.125"
  material="shader: flat; src: #logoImg; transparent: true; depthTest: false; blending: additive; opacity: 0"
  position="0 3.3 -2.5"
  rotation="0 0 0"
  scale="0.8 0.8 0.8"
  bind__visible="introActive || menuActive"
  animation__opacity="property: components.material.material.opacity; from: 0; to: 1; dur: 2000; delay: 1000"
  animation__position="property: object3D.position.y; to: 3.4; dur: 2000; easing: easeInOutQuad; startEvents: startgame"></a-entity>

<a-entity
  id="startButton"
  bind__visible-raycastable="introActive"
  geometry="primitive: plane; width: 1; height: 0.35"
  position="0 1.6 -2.2"
  render-order="menu"
  proxy-event="event: click; to: a-scene, #menu, #mainlogo, #menuTopButtons, #menuBackground; as: startgame"
  delayed-proxy-event="event: click; to: a-scene; as: menuopeningend; delay: 1800"
  mixin="bigMenuButton"
  play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
  play-sound__click="event: click; sound: #confirmSound;  volume: 0.25"
  material="ratio: 3; opacity: 0"
  animation="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; dur: 500; delay: 3000">
  <a-entity
    id="startButtonLabel"
    mixin="font"
    text="value: BEGIN; color: {{ COLORS.WHITE }}; align: center; width: 1; wrapCount: 12; opacity: 0"
    position="0 -0.1 0.01"
    animation="property: components.text.material.uniforms.opacity.value; from: 0; to: 1; dur: 500; delay: 3500"
    ></a-entity>
</a-entity>
