<a-entity
  id="loadingSongInfoContainer"
  bind__animation__scale="enabled: isLoading"
  bind__visible="isLoading"
  animation__scale="property: scale; from: 1 1 1; to: 1.05 1.05 1.05; dir: alternate; loop: true; dur: 1200; easing: easeInOutCubic"
  position="0 1.5 -2">

  <a-entity
    id="loadingMenuBackground"
    bind-toggle__raycastable="isLoading"
    render-order="menu"
    geometry="primitive: plane; width: 1.15; height: 1.2"
    material="shader: panelShader; ratio: 1.15; borderRadius: 0.4"
    position="0 0 -0.03"></a-entity>

  <a-entity id="loadingSongImage"
    copy-texture="from: #menuSelectedChallengeImage"
    geometry="primitive: plane; buffer: false; skipCache: true; height: 0.3; width: 0.3"
    material="shader: flat; transparent: false"
    position="0 0.24 0"
    render-order="menu"></a-entity>

  <a-entity id="loadingSongInfo">
    <a-entity
      position="0 -0.05 0"
      mixin="font"
      bind__text="color: colorSecondary"
      bind__text-truncate="value: challenge.songSubName + ' - ' + challenge.author"
      text="wrapCount: 40; align: center"
      text-truncate="length: 35"
      render-order="menutext"></a-entity>

    <a-entity position="0 -0.13 0"
      mixin="font"
      text="align: center; color: #FFF; wrapCount: 21; baseline: top; lineHeight: 36; width: 0.81"
      bind__text="value: challenge.metadata.songName"
      render-order="menutext"></a-entity>

    <a-entity
      id="loadingText"
      mixin="font"
      bind__animation__color="enabled: isLoading"
      bind__text="color: colorPrimary; value: loadingText; wrapCount: hasSongLoadError && 24 || 18"
      bind__visible="isLoading"
      text="align: center; wrapCount: 18; width: 0.65"
      render-order="menutext"
      position="0 -0.32 0.001"></a-entity>

    <a-entity
      id="zipLoaderIndicator"
      bind__material="color: colorPrimary"
      bind__visible="isZipFetching"
      geometry="primitive: plane; height: 0.1; width: 0.1"
      material="shader: ring; radiusInner: 0.2; radiusOuter: 0.9; progress: 0; transparent: true"
      render-order="menuitem"
      position="0 -0.4 0.002">
    </a-entity>

    <a-entity
      id="songProcessingIndicator"
      bind__animation__spin="enabled: isSongProcessing"
      bind__material="color: colorPrimary"
      bind__visible="isSongProcessing"
      animation__spin="property: object3D.rotation.z; from: 0; to: -360; easing: linear; dur: 1000; loop: true"
      geometry="primitive: plane; height: 0.15; width: 0.15"
      material="shader: ring; radiusInner: 0.2; radiusOuter: 0.4; transparent: true; progress: 0.2"
      render-order="menutext"
      position="0 -0.4 0.004"
      visible="false">
    </a-entity>

    <a-entity
      id="loadingCancelButton"
      mixin="bigMenuButton"
      bind-toggle__raycastable="isLoading"
      position="0 -0.67 0.01"
      proxy-event="event: click; to: a-scene; as: songloadcancel">
      <a-entity mixin="font" text="align: center; color: #FAFAFA; wrapCount: 20; value: CANCEL" position="0 -0.065 0.001"></a-entity>
    </a-entity>
  </a-entity>
</a-entity>
