<!-- Macro is a templating function. It is rendered into the HTML below with searchResults(). -->
{% macro searchResults () %}
<!-- TODO: Sort the layout based on the IDs. -->
<a-entity id="searchResultList"
  bind-for="for: item; in: searchResultsPage; key: id; template: #searchResultTemplate; updateInPlace: true; pool: 6; delay: 25"
  layout="type: box; columns: 1; marginRow: -0.2; orderAttribute: data-index" search-result-list position="0 0.644 0">
</a-entity>

<!-- All search result text merged and spaced out. -->
<a-entity id="searchSongNameTexts" mixin="font" bind__text="value: search.songNameTexts" render-order="menutext"
  text="baseline: top; align: left; color: #FAFAFA; wrapCount: 28; lineHeight: 130" position="0.181 0.51943 0.001">
</a-entity>
<a-entity id="searchSongSubNameTexts" mixin="font"
  bind__text="color: colorSecondaryBright; value: search.songSubNameTexts" render-order="menutext"
  text="baseline: top; align: left; wrapCount: 42; lineHeight: 190" position="0.181 0.445 0.001">
</a-entity>

<a-entity id="searchThumbnailImages" bind__search-thumbnail-atlas="dummyUpdater: search.songSubNameTexts"
  bind__visible="searchResultsPage.length > 0" geometry="primitive: plane; buffer: false; width: 0.2; height: 1.2"
  dynamic-texture-atlas="canvasId: thumbnailAtlasMap; canvasWidth: 64; canvasHeight: 512; numColumns: 1; numRows: 6"
  material="shader: flat; transparent: true" render-order="menubutton" position="-0.45 0.0146 0.002"></a-entity>

<a-mixin id="searchPageButton"
  animation__mouseenter="property: components.slice9.material.opacity; from: 0; to: 0.3; startEvents: mouseenter; pauseEvents: mouseleave; dur: 150"
  animation__mouseleave="property: components.slice9.material.opacity; from: 0.3; to: 0; startEvents: mouseleave; pauseEvents: mouseenter; dur: 150"
  mixin="slice" raycaster-target="width: 1; height: 0.32" render-order="menubutton"
  slice9="width: 0.8; color: {{ COLORS.UI_ACCENT }}; height: 0.130; padding: 0.03; opacity: 0"></a-mixin>

<a-entity id="searchPrevPage" mixin="searchPageButton" bind__slice9="color: colorPrimary"
  bind__visible-raycastable="search.hasPrev && (mainMenuActive || isSearching)"
  raycaster-target="bindToggle: search.hasNext && menuActive; position: 0 0.08 0" position="-0 0.69 0.01"
  proxy-event="event: click; to: a-scene; as: searchprevpage; captureBubbles: true">
  <a-entity id="prevArrow" bind__material="color: colorPrimary" geometry="primitive: plane; width: 0.12; height: 0.12"
    material="shader: flat; src: #downIconImg; transparent: true" rotation="0 0 180" position="0 0 -0.001"></a-entity>
</a-entity>

<a-entity id="searchNextPage" mixin="searchPageButton" bind__slice9="color: colorSecondary"
  raycaster-target="bindToggle: search.hasNext && (mainMenuActive || isSearching); position: 0 -0.08 0"
  position="-0 -0.674 0.01" proxy-event="event: click; to: a-scene; as: searchnextpage; captureBubbles: true"
  bind__visible="search.hasNext">
  <a-entity id="nextArrow" bind__material="color: colorSecondary" geometry="primitive: plane; width: 0.12; height: 0.12"
    material="shader: flat; src: #downIconImg; transparent: true" position="0 0 -0.001"></a-entity>
</a-entity>
{% endmacro %}

{% raw %}
<template id="searchResultTemplate">
  <a-entity class="searchResult" bind-item__data-id="item.id" bind-item__data-index="item.index">
    <a-entity class="searchResultBackground" bind-item__active-item="active: menuSelectedChallenge.id === item.id"
      bind-item__animation__mouseenter="enabled: menuSelectedChallenge.id !== item.id"
      bind-item__animation__mouseleave="enabled: menuSelectedChallenge.id !== item.id"
      bind-toggle__raycastable="mainMenuActive || isSearching" bind__material="color: colorPrimary"
      animation__mouseenter="property: components.material.material.opacity; to: 0.4; startEvents: mouseenter; pauseEvents: mouseleave; dur: 75; delay: 1"
      animation__mouseleave="property: components.material.material.opacity; to: 0.0; startEvents: mouseleave; pauseEvents: mouseenter; dur: 75"
      geometry="primitive: plane; width: 1.1; height: 0.2"
      material="shader: flat; transparent: true; opacity: 0.0; src: #selectedImg" position="0 -0.13 -0.002"
      play-sound="event: mouseenter; sound: #hoverSound; volume: 0.03" render-order="menuitem"></a-entity>
  </a-entity>
  </a-entity>
</template>
{% endraw %}

<!-- Menu container begins here. -->
<a-entity id="menu" bind__visible="menuActive" position="0 1.4 -2.3"
  animation__position="property: object3D.position.z; to: -2; dur: 1500; easing: easeInOutCubic; delay: 300; startEvents: startgame">

  <a-entity id="menuBackground"
    bind__menu-midsection="active: !!menuSelectedChallenge.id && (mainMenuActive || difficultyFilterMenuOpen) || difficultyFilterMenuOpen; selectedChallenge: menuSelectedChallenge.id"
    bind-toggle__raycastable="menuActive || genreMenuOpen || isSearching || difficultyFilterMenuOpen"
    geometry="primitive: plane; width: 3.4; height: 1.82" material="shader: panelShader; ratio: 1.86; opacity: 0"
    animation__opacity="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; dur: 1000; delay: 300; startEvents: startgame"
    animation__midsectionshow="property: components.material.material.uniforms.midSection.value; from: 0; to: 1; dur: 160; startEvents: showdifficultysection; easing: easeOutCubic"
    animation__midsectionhide="property: components.material.material.uniforms.midSection.value; from: 1: to: 0; dur: 160; startEvents: hidedifficultysection; easing: easeOutCubic"
    render-order="menu" position="0 0 -0.005"></a-entity>

  <a-entity id="mainMenu" bind__visible="mainMenuActive && !isMenuOpening || isSearching">
    <a-entity id="searchResultsContainer" position="0 0 0.001" class="menuAnimation"
      bind__menu-slide-animation="isSearching: isSearching; menuSelectedChallengeId: menuSelectedChallenge.id"
      animation__menuleft="property: object3D.position.x; to: -0.79; dur: 200; easing: easeOutCubic; autoplay: false"
      animation__menuright="property: object3D.position.x; from: -0.79; to: 0; dur: 200; easing: easeOutCubic; autoplay: false">

      {{ searchResults() }}
    </a-entity>

    <a-entity id="menuDifficultiesGroup" position="0 0.18 0">

      <!-- Top-aligned. -->
      <!-- Uses bind-for and bind-item to render difficulties. -->
      <a-entity id="menuDifficulties" bind-for="for: item; in: menuDifficultiesIds; updateInPlace: true; pool: 10"
        bind__visible="!!menuSelectedChallenge.id"
        layout="type: box; columns: 1; marginRow: -0.2; orderAttribute: data-bind-for-key" position="0 0.34 0"
        menu-difficulty-select>
        {% raw %}
        <template>
          <!-- Item is a string representing the difficulty. -->
          <a-entity class="difficultyOption" bind-item__data-difficulty="item">
            <a-entity class="difficultyBackground"
              bind-item__active-item="active: (menuSelectedChallenge.difficultyId === item)"
              bind-item__animation__mouseenter="enabled: !(menuSelectedChallenge.difficultyId === item)"
              bind-item__animation__mouseleave="enabled: !(menuSelectedChallenge.difficultyId === item)"
              bind-item__difficulty-background="enabled: menuActive && !!menuSelectedChallenge.id && !(menuSelectedChallenge.difficultyId === item) && !difficultyFilterMenuOpen"
              bind__material="color: colorPrimary" geometry="primitive: plane; width: 0.4; height: 0.2"
              material="shader: flat; transparent: true; opacity: 0.0; src: #difficultyImg" position="0 -0.005 0"
              play-sound="event: mouseenter; sound: #hoverSound; volume: 0.03"
              animation__mouseenter="property: components.material.material.opacity; to: 0.3; startEvents: mouseenter; pauseEvents: mouseleave; dur: 75"
              event-set__mouseenter="visible: true"
              animation__mouseleave="property: components.material.material.opacity; to: 0.0; startEvents: mouseleave; pauseEvents: mouseenter; dur: 75"
              event-set__mouseleave="visible: true; _delay: 160" render-order="menuitem"></a-entity>
            <a-entity class="difficultyText" mixin="font"
              bind-item__active-text-color="active: (menuSelectedChallenge.difficultyId === item)"
              bind-item__difficulty-text="id: item" active-text-color="color: #fff"
              text="wrapCount: 30; align: center; color: #8d8d8d" position="0 -0.057 0.001" render-order="menutext">
            </a-entity>
          </a-entity>
        </template>
        {% endraw %}
      </a-entity>
    </a-entity>

    <!-- Selected challenge info. -->
    <a-entity id="menuSelectedChallengePanel" bind__visible="!!menuSelectedChallenge.id"
      position="0.8394583182784089 0 0.001">
      <a-entity id="menuFavoriteButton" bind__animation__mouseenter="to: menuSelectedChallenge.isFavorited && 0.25 || 1"
        bind__animation__mouseleave="to: menuSelectedChallenge.isFavorited && 1 || 0.25"
        bind__material="color: colorTertiary; opacity: menuSelectedChallenge.isFavorited && 1 || 0.25"
        bind__raycastable="menuActive && !!menuSelectedChallenge.id"
        animation__mouseenter="property: components.material.material.opacity; startEvents: mouseenter; dur: 150; easing: easeInOutCubic"
        animation__mouseleave="property: components.material.material.opacity; startEvents: mouseleave; dur: 100; easing: easeInOutCubic"
        geometry="primitive: plane; width: 0.1; height: 0.1"
        material="src: #favoriteImg; shader: flat; transparent: true; opacity: 0.25"
        play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1" position="0.46 0.68 0.001"
        proxy-event="event: click; to: a-scene; as: favoritetoggle" render-order="menuitem"></a-entity>

      <a-entity id="menuSelectedChallengeImage"
        bind__menu-selected-challenge-image="coverURL: menuSelectedChallenge.coverURL"
        geometry="primitive: plane; height: 0.4; width: 0.4" material="shader: flat" position="0 0.42 0"></a-entity>

      <a-entity id="menuSelectedChallengeInfoContainer" position="0 0.058 0">
        <a-entity id="menuSelectedChallengeSongAuthor" mixin="font"
          bind__text="color: colorSecondaryBright; value: (menuSelectedChallenge.metadata.songSubName || menuSelectedChallenge.metadata.songAuthorName || 'Unknown Artist')" position="0 0.042 0"
          render-order="menutext" text="wrapCount: 40; lineHeight: 40; width: 1.185; align: center; baseline: center">
        </a-entity>
        <a-entity id="menuSelectedChallengeSongName" mixin="font"
          bind__text="color: colorPrimary; value: menuSelectedChallenge.metadata.songName" position="0 -0.059 0"
          render-order="menutext" text="align: center; wrapCount: 31; baseline: top; lineHeight: 36; width: 1.4">
        </a-entity>
        <a-entity id="menuSelectedChallengeInfo" mixin="font" bind__text="value: menuSelectedChallenge.songInfoText"
          mixin="font" position="0 -0.18 0" render-order="menutext"
          text="align: center; color: #989898; wrapCount: 55; lineHeight: 72; width: 1.5; baseline: top"></a-entity>
      </a-entity>

      <a-entity id="playButton"
        bind__visible-raycastable="menuActive && !!menuSelectedChallenge.id && !genreMenuOpen && !difficultyFilterMenuOpen && !isIOS && !hasSongLoadError"
        geometry="primitive: plane; width: 0.7; height: 0.25"
        play-sound="event: mouseenter; sound: #hoverSound; volume: 0.03"
        play-sound__click="event: click; sound: #confirmSound; volume: 0.25" position="0 -0.561 0"
        proxy-event="event: click; to: a-scene; as: playbuttonclick"
        material="shader: panelShader; brightness: 0.7; transparent: true; midSection: 0; ratio: 2.8; borderRadius: 0.6; borderWidth: 0.08"
        render-order="menubutton"
        animation__mouseenter1="property: components.material.material.uniforms.activePanel.value; from: 0; to: 1; startEvents: mouseenter; pauseEvents: mouseleave; dur: 100"
        animation__mouseleave1="property: components.material.material.uniforms.activePanel.value; from: 1; to: 0; startEvents: mouseleave; pauseEvents: mouseenter; dur: 100"
        animation__mouseenter2="property: scale; from: 1 1 1; to: 1.1 1.1 1.1; startEvents: mouseenter; pauseEvents: mouseleave; dur: 100"
        animation__mouseleave2="property: scale; to: 1 1 1; from: 1.1 1.1 1.1; startEvents: mouseleave; pauseEvents: mouseenter; dur: 100">
        <a-entity mixin="font" text="align: center; color: #FFF; wrapCount: 15; value: PLAY" position="0 -0.085 0.01">
        </a-entity>
      </a-entity>

      <a-entity id="iOSNotice" bind__visible="mainMenuActive && isIOS" mixin="font" position="0 -0.5 0.01"
        text="align: center; baseline: top; color: #FFF; wrapCount: 32; value: Sorry, iOS is currently not playable but support is coming soon!">
      </a-entity>

      <a-entity id="menuLoadError" bind__visible="hasSongLoadError" mixin="font" position="0 -0.5 0.01"
        text="align: center; baseline: top; color: #FFF; wrapCount: 32; value: Sorry! There was an error loading this song.">
      </a-entity>
    </a-entity>

    <a-entity id="searchError" mixin="font" bind__visible="search.hasError" render-order="menuText"
      text="align: center; value: Sorry, there was an issue fetching search results. Please try again."
      position="0 0 0.01"></a-entity>

    <a-entity id="menuNoPlaylists" mixin="font"
      bind__visible="playlist === 'favorites' && favorites.length === 0 && !menuSelectedChallenge.id"
      render-order="menuText" position="0 0.1 0.01"
      text="align: center; baseline: top; color: #FFF; wrapCount: 32; value: Add a song to your favorites by clicking the star in the top right of the menu after selected a song.">
    </a-entity>

    <a-entity id="searchNoResults" mixin="font"
      bind__visible="!isSearching && search.results.length === 0 && playlist !== 'favorites'" render-order="menuText"
      text="align: center; value: No search results found. Please try again with another query." position="0 0 0.01">
    </a-entity>
  </a-entity>

  <require path="templates/genreMenu.html"></require>
  <require path="templates/difficultyMenu.html"></require>
  <require path="templates/optionsMenu.html"></require>
  <require path="templates/playlistMenu.html"></require>
</a-entity>

<!-- Search. -->
<a-entity id="keyboard"
  bind__super-keyboard="{% if not DEBUG_KEYBOARD %}hand: activeHand === 'left' && '#leftHand' || '#rightHand'; {% endif %}show: isSearching"
  super-keyboard="label: Search on beatsaver.com; inputColor: #fff; labelColor: {{ COLORS.WHITE }}; width: 1.5; hand: {{ DEBUG_KEYBOARD and '#mouseCursor' or '#rightHand' }}; imagePath: assets/img/keyboard; font: assets/fonts/Viga-Regular.json; align: center; model: superkeyboard; keyColor: #fff; injectToRaycasterObjects: false; filters: allupper; keyHoverColor: #fff"
  position="0.58 1.2 -1.95" keyboard-raycastable="condition: isSearching" search
  proxy-event__dismiss="event: superkeyboarddismiss; to: a-scene; as: keyboardclose"
  proxy-event__accept="event: superkeyboardinput; to: a-scene; as: keyboardclose" render-order="menubutton"
  render-order-recursive>
</a-entity>

<a-entity id="backButton" mixin="bigMenuTopButton"
  bind__visible-raycastable="genreMenuOpen || isSearching || difficultyFilterMenuOpen || playlistMenuOpen || optionsMenuOpen"
  position="0 2.32 -1.96" play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
  proxy-event="event: click; to: a-scene; as: menuback">
  <a-entity mixin="font" text="align: center; color: #FFF; wrapCount: 20; value: BACK" position="0 -0.07 0.01">
  </a-entity>
</a-entity>

<!-- Top menu buttons. -->
<a-mixin id="bigMenuTopButton" mixin="bigMenuButton" geometry="height: 0.17; width: 0.7"></a-mixin>
<a-mixin id="bigMenuTopButtonFont" mixin="font" text="width: 0.75" position="0 -0.05 0.01"></a-mixin>
<a-entity id="menuTopButtons"
  animation__position="property: object3D.position.z; to: -1.98; dur: 1500; easing: easeInOutCubic; delay: 300; startEvents: startgame"
  layout="type: line; margin: 0.65" position="-0.95 2.30 -1.96"
  proxy-event="event: startgame; to: #searchButton, #difficultyButton, #genreButton, #playlistButton, #optionButton">

  <!-- Playlist menu toggle. -->
    <a-entity id="playlistButtons">
    <a-entity id="playlistButton"
      mixin="bigMenuTopButton"
      bind__menu-playlist-button="isFavorited: menuSelectedChallenge.isFavorited; selectedChallenge: menuSelectedChallenge.id"
      bind__visible-raycastable="mainMenuActive && !playlist"
      material="opacity: 0"
      animation__opacity="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; dur: 1000; delay: 300; startEvents: startgame"
      play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
      proxy-event="event: click; to: a-scene; as: playlistmenuopen">
      <a-entity mixin="bigMenuTopButtonFont" text="align: center; color: #FFF; wrapCount: 20; value: PLAYLISTS" bind__visible="!isMenuOpening"></a-entity>
    </a-entity>

    <a-entity id="clearPlaylistButton"
      mixin="bigMenuTopButton"
      bind__visible-raycastable="menuActive && !!playlist"
      play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
      play-sound__click="event: click; sound: #clearSound"
      proxy-event="event: click; to: a-scene; as: playlistclear">
      <a-entity mixin="bigMenuTopButtonFont" text="align: center; color: #FFF; wrapCount: 20; value: CLEAR PLAYLIST"></a-entity>
    </a-entity>

    <a-entity
      id="playlistText"
      mixin="font"
      bind__text="color: colorPrimary"
      bind__text-uppercase="value: playlistTitle"
      bind__visible="mainMenuActive && !!playlist"
      text="align: center; baseline: bottom; wrapCount: 30; width: 0.7"
      position="0 0.1 0.035"
      render-order="menutext"></a-entity>
  </a-entity>

  <!-- Search toggle. -->
    <a-entity id="searchButtons">
    <a-entity
      id="searchButton"
      mixin="bigMenuTopButton"
      bind__visible-raycastable="mainMenuActive && !search.query"
      material="opacity: 0"
      animation__opacity="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; dur: 1000; delay: 300; startEvents: startgame"
      play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
      proxy-event="event: click; to: a-scene; as: keyboardopen">
      <a-entity mixin="bigMenuTopButtonFont" text="align: center; color: #FFF; wrapCount: 20; value: SEARCH" bind__visible="!isMenuOpening"></a-entity>
    </a-entity>

    <a-entity id="searchClearButton"
      mixin="bigMenuTopButton"
      bind__visible-raycastable="mainMenuActive && !!search.query"
      play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
      play-sound__click="event: click; sound: #clearSound"
      proxy-event="event: click; to: a-scene; as: searchclear">
      <a-entity mixin="bigMenuTopButtonFont" text="align: center; color: #FFF; wrapCount: 20; value: CLEAR SEARCH"></a-entity>
    </a-entity>

    <a-entity
      id="searchText"
      mixin="font"
      bind__text="color: colorPrimary"
      bind__text-uppercase="value: search.queryText"
      bind__visible="mainMenuActive && !!search.query"
      text="align: center; wrapCount: 20"
      position="0 0.1 0.035"
      render-order="menutext"></a-entity>
  </a-entity>

  <!-- Difficulty menu toggle. -->
  <!--   <a-entity id="difficultyFilter">
    <a-entity id="difficultyButton"
      mixin="bigMenuTopButton"
      material="opacity: 0"
      bind__visible-raycastable="mainMenuActive"
      animation__opacity="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; dur: 1000; delay: 300; startEvents: startgame"
      play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
      proxy-event="event: click; to: a-scene; as: difficultyfiltermenuopen">
      <a-entity mixin="bigMenuTopButtonFont" text="align: center; color: #FFF; wrapCount: 20; value: DIFFICULTY" bind__visible="!isMenuOpening"></a-entity>
    </a-entity>

    <a-entity
      id="difficultyFilterText"
      mixin="font"
      bind__difficulty-text="difficulty: difficultyFilter"
      bind__text="color: colorPrimary"
      bind__visible="mainMenuActive && difficultyFilter !== 'All'"
      text="align: center; wrapCount: 20"
      position="0 0.1 0.035"
      render-order="menutext"></a-entity>
  </a-entity> -->

  <!-- Genre menu toggle. -->
    <a-entity id="genreButtons">
    <a-entity id="genreButton"
      mixin="bigMenuTopButton"
      bind__visible-raycastable="mainMenuActive && !genre"
      material="opacity: 0"
      animation__opacity="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; dur: 1000; delay: 300; startEvents: startgame"
      play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
      proxy-event="event: click; to: a-scene; as: genremenuopen">
      <a-entity mixin="bigMenuTopButtonFont" text="align: center; color: #FFF; wrapCount: 20; value: GENRES" bind__visible="!isMenuOpening"></a-entity>
    </a-entity>

    <a-entity id="clearGenreButton"
      mixin="bigMenuTopButton"
      bind__visible-raycastable="mainMenuActive && !!genre"
      play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
      play-sound__click="event: click; sound: #clearSound"
      proxy-event="event: click; to: a-scene; as: genreclear">
      <a-entity mixin="bigMenuTopButtonFont" text="align: center; color: #FFF; wrapCount: 20; value: CLEAR GENRE"></a-entity>
    </a-entity>

    <a-entity
      id="genreText"
      mixin="font"
      bind__text="color: colorPrimary"
      bind__text-uppercase="value: genre"
      bind__visible="mainMenuActive && !!genre"
      text="align: center; wrapCount: 20"
      position="0 0.1 0.035"
      render-order="menutext"></a-entity>
  </a-entity>
</a-entity>

<!-- Options menu toggle. -->
<a-entity id="optionsButtons" position="0 0.45 -1.96">
  <a-entity id="optionButton" mixin="bigMenuButton" bind__visible-raycastable="mainMenuActive" material="opacity: 0"
    animation__opacity="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; dur: 1000; delay: 300; startEvents: startgame"
    play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.1"
    proxy-event="event: click; to: a-scene; as: optionsmenuopen">
    <a-entity mixin="bigMenuTopButtonFont" text="align: center; color: #FFF; wrapCount: 20; value: THEMES"
      bind__visible="!isMenuOpening"></a-entity>
  </a-entity>
</a-entity>