<a-mixin
  id="modeAnimations"
  animation__select="property: object3D.position.z; to: 0.06; dur: 200; easing: easeOutQuad; startEvents: select"
  animation__deselect="property: object3D.position.z; to: 0; dur: 200; easing: easeOutQuad; startEvents: deselect"></a-mixin>

<a-mixin
  id="modeThumbAnimations"
  animation__select="property: components.material.material.color; type: color; to: #FFF; dur: 200; easing: easeOutQuad; startEvents: select"
  animation__deselect="property: components.material.material.color; type: color; to: #888; dur: 200; easing: easeOutQuad; startEvents: deselect"></a-mixin>

<a-mixin
  id="modeBackgroundHover"
  animation__mouseenter="property: components.material.material.uniforms.borderWidth.value; from: 0.002; to: 0.01; startEvents: mouseenter; pauseEvents: mouseleave; easing: linear; dur: 150"
  animation__mouseleave="property: components.material.material.uniforms.borderWidth.value; from: 0.01; to: 0.002; startEvents: mouseleave; pauseEvents: mouseenter; easing: linear; dur: 150"
  play-sound__hover="event: mouseenter; sound: #hoverSound; volume: 0.3"
  play-sound__click="event: click; sound: #confirmSound; volume: 0.1"

  ></a-mixin>

<a-mixin
  id="modeBackgroundSelect"
  animation__select="property: components.material.material.uniforms.brightness.value; to: 0.5; startEvents: select; easing: easeOutQuad; dur: 200"
  animation__deselect="property: components.material.material.uniforms.brightness.value; to: 0.1; startEvents: deselect; easing: easeOutQuad; dur: 200"
  animation__select2="property: components.material.material.uniforms.borderWidth.value; to: 0.015; startEvents: select; easing: linear; dur: 200"
  animation__deselect2="property: components.material.material.uniforms.borderWidth.value; to: 0.002; startEvents: deselect; easing: linear; dur: 200"></a-mixin>

{% macro mode (index, name, mode, image, description, forVR) %}
{% set id = name + (forVR and 'vr' or '2d') %}
<a-entity
  id="mode{{ id }}"
  class="modeItem"
  data-mode="{{ mode }}"
  data-name="{{ id }}"
  position="0 {{ index * -0.75 + 0.75 }} 0"
  mixin="modeAnimations">
  <a-entity
    class="modeBackground"
    bind-toggle__raycastable="menuActive && {{ forVR and 'hasVR' or '!hasVR' }}"
    position="0 0 -0.01"
    geometry="primitive: plane; width: 3; height: 0.8"
    material="shader: panelShader; brightness: 0.1; ratio: 4; borderWidth: 0.002"
    mixin="modeBackgroundHover modeBackgroundSelect"></a-entity>
  <a-entity
    class="modeTitle"
    mixin="font"
    text="align: left; value: {{ name | upper }}\nMODE; lineHeight: 45; width: 2.6"
    render-order="menutext"
    position="0.14 0.05 0"></a-entity>
  <a-entity
    class="modeThumb"
    mixin="modeThumbAnimations"
    geometry="primitive: plane; width: 0.7; height: 0.5"
    material="src: {{ image }}; shader: flat"
    position="-0.20 0 0"></a-entity>
  <a-entity
    class="modeInstructions"
    mixin="font"
    render-order="menutext"
    bind__text="color: colorPrimary"
    text="value: {{ description }}; width: 1.6; lineHeight: 47"
    position="1.1 -0.05 0"></a-entity>
</a-entity>
{% endmacro %}

<a-entity
  id="modes"
  bind__menu-mode="colorScheme: colorScheme; hasVR: hasVR"
  bind__position="hasVR && '-2.56 1.3 -0.7' || '-2.56 1 -0.7'"
  bind__visible="menuActive && !isMenuOpening"
  rotation="0 60 0"
  render-order="menuitem">

  <a-entity id="modeIcon"
    geometry="primitive: cylinder;  height: 0.01; segmentsHeight: 1; radius: 0.1; segmentsRadial: 3"
    rotation="0 90 90"
    position="-1.275 0.32 0.1"
    materials="name: merkaba"
    animation="property: object3D.position.x; from: -1.275; to: -1.3; dir: alternate; easing: easeOutQuad; loop: true; dur: 900"></a-entity>

  <a-entity id="mode2d" bind__visible="!hasVR">
    {{ mode(0, 'ride', 'ride', '#modeRideImg', 'Relax and enjoy the ride.', false) }}
    {{ mode(1, 'viewer', 'classic', '#modeViewerImg', 'View the beat map.\n\nConnect a VR headset\nwith controllers\nto experience\nmore modes!', false) }}
  </a-entity>

  <a-entity id="modeVR" bind__visible="hasVR">
    {{ mode(0, 'punch', 'punch', '#modePunchImg', 'Punch the beats, mind\ncolor.\n\nAvoid all things yellow.\n\nPunch harder\n for better score.', true) }}
    {{ mode(1, 'ride', 'ride', '#modeRideImg', 'Relax and enjoy the ride.\n\nTake a quick breather.\n\nNo score!', true) }}
    {{ mode(2, 'classic', 'classic', '#modeClassicImg', 'Cut the beats, mind\ncolor and direction.\n\nAvoid all things yellow.\n\nSwing fast and accurate\nfor better score.', true) }}
  </a-entity>

  <a-entity
    id="loadingTipsContainer"
    bind__visible="menuActive"
    position="0 -1.3 0.1"
    rotation="0 0 0">

    <a-entity
      id="loadingTipsBackground"
      bind-toggle__raycastable="menuActive"
      render-order="menu"
      geometry="primitive: plane; width: 1.5; height: 0.3"
      material="shader: panelShader; ratio: 1.15; borderRadius: 0.4"
      render-order="menubutton"
      position="0 0 -0.03"></a-entity>

    <a-entity
      id="loadingTipsText"
      mixin="font"
      bind__text="color: colorPrimary"
      text="align: center; wrapCount: 30; width: 1; value: Press down on thumbstick center to open menu while playing."
      render-order="menutext"
      position="0 -0.02 0.001"></a-entity>
  </a-entity>
</a-entity>
