{% set text = 'A free and open source music visualization and rhythm game website powered by the community Beat Saver public dataset. ' %}
{% set text = text + 'From the creators of the Beat Saver Viewer featured on BeastSaber.\n\n' %}
{% set text = text + 'Song maps are sourced from beatsaver.com with expressed support from the Beat Saver community admins. Supports most browsers and headsets (including Quest).\n\n' %}
{% set text = text + 'This is a work-in-progress technical demonstration of a VR game on a webpage. Drum Mode and Gun Mode possibly coming in the future! Read more at bsaber.com/moon-rider' %}

<a-entity
  id="news"
  bind__visible="menuActive && !menuSelectedChallenge.id && !isMenuOpening"
  position="2.365374194652176 1.4 -1.1952715561051024"
  rotation="0 -60 0"
  render-order="menuitem">

  <a-entity
    id="newsBackground"
    bind-toggle__raycastable="menuActive && !menuSelectedChallenge.id && !isMenuOpening"
    geometry="primitive: plane; width: 2.1; height: 1.9"
    material="shader: panelShader; ratio: 1.14; brightness: 0.2"></a-entity>

  <a-entity
    id="newsText"
    mixin="font"
    text="align: left; color: #FAFAFA; baseline: center; width: 1.5; value: {{ text }}"
    position="0 -0.04 0.001"></a-entity>
</a-entity>
