<a-entity
  id="optionsMenu"
  bind__visible="optionsMenuOpen"
  position="0 0.5 0.01"
  render-order="menutext">

  <a-entity id="optionsTitle" mixin="font" text="align: center; value: OPTIONS; width: 2.5"></a-entity>

  <a-entity id="colorOptionsContainer" position="0 -0.25 0">
    <a-entity id="colorTitle" mixin="font" text="align: center; value: THEMES; width: 2"></a-entity>

    <a-entity id="colorOptions" position="-0.79 -0.175 0.00" layout="type: box; columns: 10; margin: 0.2" materials-color-menu>
      {% for color in COLORS.options %}
        <a-entity
          class="colorOption"
          data-color-name="{{ COLORS.schemes[color].name }}"
          data-color-scheme="{{ color }}"
          mixin="clickSoundUI hoverSoundUI"
          animation__mouseenter="property: scale; to: 1.2 1.2 1.2; dur: 150; easing: easeInOutCubic; startEvents: mouseenter"
          animation__mouseleave="property: scale; to: 1 1 1; dur: 125; easing: easeInOutCubic; startEvents: mouseleave"
          geometry="primitive: plane; width: 0.15; height: 0.15"
          material="shader: gradientShader; color1: {{ COLORS.schemes[color].primary }}; color2: {{ COLORS.schemes[color].secondary }}; transparent: true"
          render-order="menutext"
          bind-toggle__raycastable="optionsMenuOpen">
        </a-entity>
      {% endfor %}
    </a-entity>

    <a-entity
      id="colorName"
      mixin="font"
      text="align: center; color: #CCC; width: 1"
      position="0 -0.35 0.1"
      render-order="menutext"></a-entity>
  </a-entity>
</a-entity>
