<a-mixin
  id="scoreText"
  mixin="font"
  text="lineHeight: 40; color: #FAFAFA; letterSpacing: -2; align: center; opacity: 0.7"></a-mixin>

<a-entity
  id="scoreContainer"
  bind__score-texts="isLoading: isLoading"
  bind__visible="score.active"
  render-order="score">

  <a-entity
    id="songProgressRing"
    bind__material="color: colorSecondary"
    bind__song-progress-info="enabled: isPlaying || isPaused && challenge.isBeatsPreloaded"
    geometry="primitive: plane; width: 0.57; height: 0.03"
    material="shader: flat"
    position="1.525 0.1 -3.94"
    rotation="-30 0 0">
  </a-entity>

  <a-entity id="scoreNumberContainer" position="1.5 0.13 -4">
    <a-entity
      id="combo"
      mixin="scoreText"
      bind__text="color: colorPrimary; value: 'STREAK  ' + score.combo"
      text="width: 3.5; align: left; anchor: left"
      rotation="-20 0 0"
      position="-0.025 0.175 0"></a-entity>

    <a-entity
      id="accuracy"
      mixin="scoreText"
      bind__text="color: colorSecondary; value: score.accuracyInt + '%' + ' / ' + score.score"
      text="width: 3.5; align: left; anchor: left"
      rotation="-20 0 0"></a-entity>
  </a-entity>
</a-entity>
