<a-entity
  id="tube"
  bind__visible="isPlaying"
  rotation="90 180 0"
  position="0 0 -5"
  geometry="primitive: cylinder; radius: 3; openEnded: true; height: 20"
  materials="name: tube"
  animation="property: components.materials.material.uniforms.opacity.value; from: 1; to: 0; easing: easeInOutCubic; startEvents: pulse"></a-entity>

<a-entity
  id="platformShadow"
  obj-model="obj: #homeShadowObj"
  position="0 0.02 0"
  material="src: #homeShadowImg; shader: flat; blending: multiply; transparent: true;"
  raycastable-game
  render-order="curveshadow"
  stepback></a-entity>

<a-entity
  id="platform"
  obj-model="obj: #homeObj"
  materials="name: home"
  bind__materials="animate: isPlaying"></a-entity>

<a-entity
  id="sideGlows"
  bind__visible="isPlaying || isPaused">
  <a-entity
    id="leftSideGlow"
    geometry="primitive: plane; width: 8; height: 2"
    materials="name: leftsideglow"
    position="-2.1 .5 -3"
    rotation="20 -90 0"
    render-order="sideglow">
  </a-entity>
  <a-entity
    id="rightSideGlow"
    geometry="primitive: plane; width: 8; height: 2"
    materials="name: rightsideglow"
    position="2.1 .5 -3"
    rotation="-20 -90 0"
    render-order="sideglow">
  </a-entity>
</a-entity>

<a-entity
  id="light"
  light="type: hemisphere; color: #666"
  position="0 10 20"></a-entity>

{% if DEBUG_LOG %}
  <a-entity log="max: 7" geometry="primitive: plane; width: 2; height: 1" material="color: #666" position="-2 1.4 -2" rotation="0 45 0" text="width: 2; xOffset: 0.2; yOffset: 0.6; baseline: top"></a-entity>
{% endif %}
