<!-- Victory. -->
<a-entity
  id="victoryInfoContainer"
  position="0 1.5 -2"
  bind__visible="isVictory">

  <a-entity
    id="victoryAccuracyRing"
    bind__material="color: colorPrimary"k
    bind__victory-accuracy-ring="accuracy: score.finalAccuracy"
    animation="property: components.material.material.uniforms.progress.value; from: 0; easing: easeOutQuad; delay: 500; dur: 2500; autoplay: false"
    geometry="primitive: plane; width: 0.7; height: 0.7"
    material="shader: ring; transparent: true; radiusInner: 0.8; blending: additive; depthWrite: false"
    position="0 0.18 0"
    render-order="victory"></a-entity>

  <a-entity
    id="victoryInfoRank"
    class="accuracyTextCounterSubscribe"
    bind__animation="enabled: isVictory"
    bind__victory-rank="isVictory: isVictory; rank: score.rank"
    bind-toggle__raycastable="isVictory"
    scale="0 0 0"
    position="0 -0.034 0"
    animation__rotation="property: object3D.rotation.y; from: 0; to: -360; loop: true; easing: linear; dur: 5000; startEvents: textcounterdone"
    animation__scale="property: scale; from: 0 0 0; to: 1 1 1; loop: false; easing: easeOutQuad; dur: 300; startEvents: textcounterdone"
    play-sound="sound: #victorySound; event: textcounterdone"
    render-order="menuitemtext"
    text-geometry="font: #VigaRegularThree; bevelEnabled: true; bevelSize: 0.01; bevelThickness: 0.01; curveSegments: 7; height: 0.15; size: 0.4"></a-entity>

  <a-entity
    id="victoryInfoAccuracy"
    class="accuracyTextCounterSubscribe"
    mixin="font"
    bind__text="color: colorSecondary; opacity: isVictory && 0 || 0; value: score.score + ' POINTS'"
    animation="property: components.text.material.uniforms.opacity.value; from: 0; to: 1; startEvents: textcounterdone"
    text="align: left; wrapCount: 22; baseline: top; width: 0.81"
    position="0.85 0.2 0"
    render-order="menuitemtext"></a-entity>

  <a-entity
    id="victoryInfoBeatsHit"
    class="accuracyTextCounterSubscribe"
    mixin="font"
    bind__text="color: colorSecondary; opacity: isVictory && 0 || 0; value: score.beatsText"
    animation="property: components.text.material.uniforms.opacity.value; from: 0; to: 1; startEvents: textcounterdone"
    text="align: left; wrapCount: 22; baseline: top; width: 0.81"
    position="0.85 0.1 0"
    render-order="menuitemtext"></a-entity>

  <a-entity
    id="victoryInfoAccuracy"
    mixin="font"
    bind__text="color: colorTertiary"
    text="value: 0; align: center; wrapCount: 15; baseline: top; width: 2.25"
    bind__text-counter="enabled: isVictory; value: score.finalAccuracy"
    text-counter="suffix: %"
    position="0 -0.47 0"
    render-order="menuitemtext"></a-entity>

  <a-entity
    id="victoryInfoMaxCombo"
    mixin="font"
    bind__text="color: colorSecondary"
    bind__text-counter="enabled: isVictory; value: score.maxCombo"
    text="align: center; wrapCount: 22; baseline: top; width: 1"
    text-counter="prefix: MAX STREAK: ; emit: true"
    proxy-event="event: textcounterdone; to: .accuracyTextCounterSubscribe"
    position="0 -0.58 0"
    render-order="menuitemtext"></a-entity>

  <a-entity
    id="victoryButtons"
    play-sound="event: mouseenter; sound: #hoverSound; volume: 0.03"
    play-sound__click="event: click; sound: #confirmSound; volume: 0.25"
    render-order="menubutton">
    <a-entity
      id="victoryRestartButton"
      class="accuracyTextCounterSubscribe"
      mixin="gameMenuButton"
      bind-toggle__raycastable="isVictory"
      bind__material="opacity: isVictory && 0 || 0"
      animation="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; startEvents: textcounterdone"
      position="-0.56 -0.79 0.05"
      proxy-event="event: click; to: a-scene; as: gamemenurestart">
      <a-entity
        class="accuracyTextCounterSubscribe"
        mixin="gameMenuButtonText"
        bind__text="opacity: isVictory && 0 || 0"
        animation="property: components.text.material.uniforms.opacity.value; from: 0; to: 1; startEvents: textcounterdone"
        render-order="menuitemtext"
        text="opacity: 0; value: PLAY AGAIN"></a-entity>
    </a-entity>

    <a-entity
      id="victoryExitButton"
      class="accuracyTextCounterSubscribe"
      mixin="gameMenuButton"
      bind-toggle__raycastable="isVictory"
      bind__material="opacity: isVictory && 0 || 0"
      animation="property: components.material.material.uniforms.opacity.value; from: 0; to: 1; startEvents: textcounterdone"
      position="0.56 -0.79 0.05"
      proxy-event="event: click; to: a-scene; as: gamemenuexit">
      <a-entity
        class="accuracyTextCounterSubscribe"
        mixin="gameMenuButtonText"
        bind__text="opacity: isVictory && 0 || 0"
        animation="property: components.text.material.uniforms.opacity.value; from: 0; to: 1; startEvents: textcounterdone"
        render-order="menuitemtext"
        text="opacity: 0; value: BACK TO MENU"></a-entity>
    </a-entity>
  </a-entity>
</a-entity>
