html {
  background: #000;
}

#vrButton {
  position: absolute;
  background: url(../assets/img/enter-vr-button-background.png) no-repeat;
  background-size: cover;
  border: 0;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
  z-index: 9999999;
  width: 84px;
  height: 47px;
}

#vrButton.a-hidden {
  visibility: hidden;
}

#vrButton:active {
  border: 0;
}

#vrButton:hover {
  background-position: 0 -50.5px;
}

.a-loader-title {
  animation: loaderTitle 1s infinite alternate;
  color: rgba(0,0,0,0);
  background: none;
  background-image: url('../assets/img/loadingLogo.jpg');
  height: 36.2vh;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
  background-size: contain;
}

@keyframes loaderTitle {
  0% { opacity: 1; }
  50% { opacity: 0.8; }
  100% { opacity: 1; }
}
