<!-- https://freesound.org/people/deleted_user_2731495/sounds/183881/ -->
<audio id="introSong" src="assets/sounds/menu.ogg" loop></audio>

{% set firestore = true and 'moonrider-prod' or 'moonrider-dev' %}
{% set firekey = true and 'AIzaSyAilakXLvMgwPcBcHs3oys51eLp4yrfz0w' or 'AIzaSyALCaDKg0b7aD3nOyRv_f5RTZ1vedrGyWw' %}

<a-scene
  bind__beat-generator="challengeId: challenge.id; difficulty: challenge.difficulty; beatmapCharacteristic: challenge.beatmapCharacteristic; gameMode: gameMode; has3DOFVR: has3DOFVR; hasSongLoadError: hasSongLoadError; isPlaying: isPlaying; isZipFetching: isZipFetching; menuSelectedChallengeId: menuSelectedChallenge.id; songDuration: challenge.metadata.duration; speed: speed"
  bind__beat-system="gameMode: gameMode; hasVR: hasVR; isLoading: isLoading; isPlaying: isPlaying"
  bind__gameover="isGameOver: isGameOver"
  bind__intro-song="isPlaying: menuActive && !menuSelectedChallenge.id; isSearching: isSearching"
  bind__leaderboard="difficulty: menuSelectedChallenge.difficulty || challenge.difficulty; beatmapCharacteristic: menuSelectedChallenge.beatmapCharacteristic || challenge.beatmapCharacteristic; gameMode: gameMode; inVR: inVR; isVictory: isVictory; menuSelectedChallengeId: menuSelectedChallenge.id; challengeId: challenge.id"
  bind__search="difficultyFilter: difficultyFilter; genre: genre; playlist: playlist; query: search.query"
  bind__song="audio: challenge.audio; challengeId: challenge.id; isLoading: isLoading; isPlaying: isPlaying; isBeatsPreloaded: challenge.isBeatsPreloaded; isGameOver: isGameOver; isVictory: isVictory"
  bind__song-preview-system="selectedChallengeId: menuSelectedChallenge.id; selectedChallengeVersion: menuSelectedChallenge.version"
  bind__stage-colors="colorScheme: colorScheme"
  bind__tunnels="isPlaying: isPlaying; songDuration: challenge.metadata.duration"
  bind__zip-loader="difficulties: menuDifficulties; isLoading: isLoading; version: menuSelectedChallenge.version; directDownload: menuSelectedChallenge.directDownload; bpm: menuSelectedChallenge.metadata.bpm"
  animation__gameover="property: object3D.background; type: color; to: #750000; startEvents: gameover"
  console-shortcuts
  debug-beat-generator
  debug-beat-positioning
  debug-controller
  debug-intro
  debug-song-time
  debug-state
  hack
  gpu-preloader
  {% if DEBUG_INSPECTOR %}
    inspector="url: http://localhost:3333/dist/aframe-inspector.js"
  {% endif %}
  leaderboard="apiKey: {{ firekey }}; authDomain: {{ firestore }}.firebaseapp.com; databaseURL: https://{{ firestore }}.firebaseio.com; projectId: {{ firestore }}; storageBucket: {{ firestore }}.appspot.com; messagingSenderId: 172125624222"
  loading-screen="backgroundColor: #000"
  pool__beat-arrow-blue="mixin: arrowBlueBeat; size: 30; container: #beatContainer; dynamic: true"
  pool__beat-arrow-red="mixin: arrowRedBeat; size: 30; container: #beatContainer; dynamic: true"
  pool__beat-dot-blue="mixin: dotBlueBeat; size: 30; container: #beatContainer; dynamic: true"
  pool__beat-dot-red="mixin: dotRedBeat; size: 30; container: #beatContainer; dynamic: true"
  pool__beat-mine="mixin: mine; size: 30; container: #beatContainer"
  pool__plume-arrow-blue="mixin: arrowBluePlume; size: 30; container: #beatContainer; dynamic: true"
  pool__plume-arrow-red="mixin: arrowRedPlume; size: 30; container: #beatContainer; dynamic: true"
  pool__plume-dot-blue="mixin: dotBluePlume; size: 30; container: #beatContainer; dynamic: true"
  pool__plume-dot-red="mixin: dotRedPlume; size: 30; container: #beatContainer; dynamic: true"
  pool__plume-mine="mixin: minePlume; size: 12; container: #beatContainer; dynamic: true"
  pool__beat-broken-blue="mixin: blueBeatBroken; size: 10; container: #rigContainer; dynamic: true"
  pool__beat-broken-red="mixin: redBeatBroken; size: 10; container: #rigContainer; dynamic: true"
  pool__beat-broken-blue-dot="mixin: blueDotBroken; size: 10; container: #rigContainer; dynamic: true"
  pool__beat-broken-red-dot="mixin: redDotBroken; size: 10; container: #rigContainer; dynamic: true"
  pool__punch-broken-blue-dot="mixin: blueDotPunchBroken; size: 10; container: #rigContainer; dynamic: true"
  pool__punch-broken-red-dot="mixin: redDotPunchBroken; size: 10; container: #rigContainer; dynamic: true"
  pool__beat-broken-mine="mixin: mineBroken; size: 10; container: #rigContainer; dynamic: true"
  pool__beat-fx-blue="mixin: blueBeatFX; size: 10; container: #rigContainer; dynamic: true"
  pool__beat-fx-red="mixin: redBeatFX; size: 10; container: #rigContainer; dynamic: true"
  pool__beat-fx-mine="mixin: mineFX; size: 12; container: #rigContainer; dynamic: true"
  pool__punch-fx-blue="mixin: bluePunchFX; size: 10; container: #rigContainer; dynamic: true"
  pool__punch-fx-red="mixin: redPunchFX; size: 10; container: #rigContainer; dynamic: true"
  pool__punch-fx-mine="mixin: yellowPunchFX; size: 12; container: #rigContainer; dynamic: true"
  pool__tunnels="mixin: tunnel; size: 10; container: #tunnelsContainer; dynamic: true"
  pool__wall="mixin: wall; size: 20; container: #wallContainer; dynamic: true"
  proxy-event__cleargame1="event: gamemenuexit; as: cleargame; to: a-scene"
  proxy-event__cleargame2="event: gamemenurestart; as: cleargame; to: a-scene"
  proxy-event__cleargame3="event: songcomplete; as: cleargame; to: a-scene"
  proxy-event__pausegame="event: pausegame; as: textglowoff; to: a-scene"
  proxy-event__resumegame="event: gamemenuresume; as: textglownormal; to: a-scene"
  play-sound__crescendo="sound: #crescendo; event: victory; volume: 0.75"
  render-order="stage, aurora, sideglow, tunnel, curve, curveshadow, beatShadow, score, beats, menu, menuitem, menubutton, menutext, menugenre, cursor, particles, weapon, victory, stepback"
  stats-param
  tunnels
  vr-mode-ui="enterVRButton: #vrButton">

  <a-assets timeout="3000">
    <require path="assets.html"></require>
  </a-assets>

  <a-entity id="beatObjTemplate" obj-model="obj: #beatObj" visible="false"></a-entity>
  <a-entity id="redBeatObjTemplate" obj-model="obj: #redBeatObj" visible="false"></a-entity>
  <a-entity id="blueBeatObjTemplate" obj-model="obj: #blueBeatObj" visible="false"></a-entity>
  <a-entity id="dotRedObjTemplate" obj-model="obj: #dotRedObj" visible="false"></a-entity>
  <a-entity id="dotBlueObjTemplate" obj-model="obj: #dotBlueObj" visible="false"></a-entity>
  <a-entity id="mineObjTemplate" obj-model="obj: #mineObj" visible="false"></a-entity>
  <a-entity id="cursorLaser" obj-model="obj: #laserObj" visible="false"></a-entity>

  <require path="templates/loading.html"></require>
  <require path="templates/stage.html"></require>
  <require path="templates/menu.html"></require>
  <require path="templates/modes.html"></require>
  <require path="templates/victory.html"></require>
  <require path="templates/leaderboard.html"></require>
  <require path="templates/news.html"></require>

  <a-mixin
    id="cursorMesh"
    material="shader: flat; transparent: true; src: #cursorMeshImg; depthTest: false"
    sub-object="from: #cursorLaser; name: glow"></a-mixin>

  <a-entity
    id="curve"
    material="shader: supercurve"
    supercurve
    supercurve-color
    render-order="curve"></a-entity>

  <a-entity
    id="tunnelsContainer"
    render-order="curve"
    bind__visible="isPlaying || isPaused"></a-entity>

  <a-entity
    id="beatContainer"
    beat-hit-sound
    bind__visible="isPlaying"></a-entity>

  <a-entity
    id="wallContainer"
    bind__visible="isPlaying"></a-entity>

  <a-entity id="curveFollowRig"
    bind__curve-follow-rig-reset="isVictory: isVictory"
    bind__supercurve-follow="enabled: isPlaying; speed: speed"
    supercurve-follow="target: #curve">

    <require path="templates/stageFollow.html"></require>
    <require path="templates/score.html"></require>
    <require path="templates/gameMenu.html"></require>

    <!-- Beat pieces, explosions, fx, and weapon trail. -->
    <a-entity id="rigContainer"></a-entity>

    <!-- Supercut FX rings. -->
    {% for i in range(1, 5) %}
      <a-entity class="superCutFx" mixin="superCut"></a-entity>
    {% endfor %}

    <!-- Player. -->
    <a-entity id="cameraRig">
      <a-entity
        id="camera"
        bind__wasd-controls="enabled: !inVr"
        position="0 1.6 0.5"
        camera="far: 10000"
        look-controls
        player-height
        wasd-controls="acceleration: 15"></a-entity>
      <a-entity
        id="cameraWallCollider"
        bind__raycaster__wall="enabled: isPlaying && gameMode !== 'ride'"
        proxy-event__wallhitstart="event: raycaster-intersection; to: a-scene; as: wallhitstart"
        proxy-event__wallhitend="event: raycaster-intersection-cleared; to: a-scene; as: wallhitend"
        follow-position="target: #camera"
        raycaster__wall="objects: [data-wall-active]; interval: 150; direction: 0 -1 0; far: 5"
        visible="false"></a-entity>
    </a-entity>

    <a-entity
      id="controllerRig"
      proxy-event="event: recentered; to: #cameraRig; captureBubbles: true; as: recenter">
      {% macro weapon (hand, otherHand) %}
        <a-entity id="{{ hand }}Hand"
          class="weapon"
          bind__hand-swapper="enabled: {{ otherHand }}RaycasterActive"
          bind__haptics-wall="enabled: isPlaying && gameMode === 'classic'"
          bind__headfist="isPlaying: isPlaying"
          bind__menu-controls="enabled: mainMenuActive"
          bind__pauser="enabled: isPlaying"
          bind__punch="enabled: isPlaying && gameMode === 'punch'"
          bind__raycaster="enabled: {{ hand }}RaycasterActive"
          bind__raycaster__game="enabled: isPlaying && (gameMode === 'classic' || gameMode === 'punch')"
          bind__blade="enabled: isPlaying && gameMode === 'classic'"
          bind__weapon-particles="enabled: isPlaying; gameMode: gameMode"
          bind__trail="colorScheme: colorScheme; enabled: isPlaying && gameMode === 'classic'"
          controller="hand: {{ hand }}"
          data-hand="{{ hand }}"
          haptics="events: mouseenter; dur: 35; force: 0.075"
          haptics__beat="events: beathaptic; dur: 90; force: 0.55"
          haptics__draw="events: drawblade; dur: 750; force: 0.025"
          haptics__plume="events: plumepulse; dur: 35; force: 0.1"
          headfist="hand: {{ hand }}"
          raycaster="objects: [raycastable]; far: 5; showLine: false"
          raycaster__game="objects: [raycastable-game]; far: 1; interval: {{ hand == 'right' and '70' or '71' }}; direction: 0 1 -1"
          weapon="hand: {{ hand }}"
          weapon-particles="hand: {{ hand }}"
          thumb-controls
          thumb-controls-debug="enabled: false; hand: {{ hand }}; controllerType: vive-controls"
          render-order="weapon"
          trail="color: {{ hand === 'right' and 'secondary' or 'primary' }}; hand: {{ hand }}">
          <a-entity bind__position="has3DOFVR && '0 0 -0.5' || '0 0 0'">
            <a-entity
              id="{{ hand }}Laser"
              class="laser"
              bind__material="color: {{ hand === 'left' and 'colorPrimary' or 'colorSecondary' }}"
              bind__cursor-laser="enabled: activeHand === '{{ hand }}' && !isPlaying"
              geometry="primitive: cylinder; height: 1; radius: 0.005"
              material="shader: flat; opacity: 0.25; transparent: true"
              rotation="-90 0 0"></a-entity>
          </a-entity>

          <!-- Blade. -->
          <a-entity bind__position="has3DOFVR && '0 0 -0.5' || '0 0 0'"
                    bind__rotation="controllerType.indexOf('oculus') !== -1 && '135 0 0' || '90 0 0'">
            <a-entity
              class="bladeContainer"
              bind__visible="isPlaying && gameMode === 'classic'"
              animation="property: scale; from: 0 0 0; to: 1 1 1; dur: 750; easing: linear; startEvents: drawblade"
              scale="0.001 0.001 0.001">
              <a-entity
                class="blade blade{{ hand }}"
                obj-model="obj: #weaponObj"
                materials="name: {{ hand }}Weapon"
                render-order="weapon"
                position="0 -0.43 0">
                <a-entity class="bladeTipHelper" position="0 -0.45 0"></a-entity>
              </a-entity>
            </a-entity>

            <a-entity
              class="bladeHandle"
              bind__visible="!isPlaying || gameMode === 'classic'"
              obj-model="obj: #weaponHandleObj"
              materials="name: {{ hand }}WeaponHandle">
              <a-entity class="bladeHandleHelper"></a-entity>
            </a-entity>
          </a-entity>

          <!-- Punch. -->
          <a-entity
            id="{{ hand }}punch"
            class="punch"
            render-order="weapon"
            bind__visible="isPlaying && gameMode === 'punch'"
            bind__position="has3DOFVR && '0 0 -0.75' || '0 0 0'"
            rotation="0 0 0">
              <a-entity
                class="punchFist"
                obj-model="obj: #{{ hand }}FistObj"
                materials="name: {{ hand }}Fist"></a-entity>
              <a-entity
                class="punchBbox"
                geometry="primitive: box; width: 0.2; height: 0.23; depth: 0.15"
                material="shader: flat; opacity: 0.5"
                position="0 0.05 0.1"
                rotation="30 0 0"
                visible="false"></a-entity>
              <a-entity
                obj-model="obj: #{{ hand }}FistWeaponObj"
                materials="name: {{ hand }}FistWeapon"></a-entity>
          </a-entity>

          <!-- Ride. -->
          <a-entity
            id="{{ hand }}star"
            class="handStar"
            render-order="weapon"
            bind__visible="isPlaying && gameMode === 'ride'">
              <a-entity
                class="handStar"
                bind__material="colorPrimary: colorPrimary; colorSecondary: colorSecondary; colorTertiary: colorTertiary"
                geometry="primitive: sphere; radius: 0.1"
                material="shader: handStar"
                animation__pulse="property: components.material.material.uniforms.pulse.value; from: 2; to: 0; dur: 300; startEvents: plumepulse; easing: easeInOutQuad"
                animation__scale="property: scale; from: 2 2 2; to: 1 1 1; dur: 1200; startEvents: plumepulse; easing: easeInOutQuad"></a-entity>
          </a-entity>
        </a-entity>

        <a-entity
          id="{{ hand }}CursorMesh"
          mixin="cursorMesh"
          bind__cursor-mesh="active: {{ hand }}RaycasterActive && !isPlaying"
          bind__material="color: {{ hand === 'left' and 'colorPrimary' or 'colorSecondary' }}"
          cursor-mesh="cursorEl: #{{ hand }}Hand"
          material
          render-order="cursor"
          scale="1.3 1.3 1.3"></a-entity>
      {% endmacro %}

      {{ weapon('left', 'right') }}
      {{ weapon('right', 'left') }}
    </a-entity>

    <a-entity
      id="stepback"
      position="0 1.6 -1.55"
      geometry="primitive: plane; width: 0.25; height: 0.25;"
      material="shader: flat; src: #stepbackImg; transparent: true; opacity: 0"
      render-order="stepback"></a-entity>
  </a-entity>

  <a-entity
    id="mouseCursor"
    bind__raycaster="enabled: !inVR"
    cursor="rayOrigin: mouse"
    raycaster="objects: [raycastable]"></a-entity>
  <a-entity
    id="mouseCursorMesh"
    mixin="cursorMesh"
    cursor-mesh="cursorEl: #mouseCursor"
    bind__cursor-mesh="active: menuActive"
    render-order="cursor"></a-entity>

  <a-entity
    tail="target: #leftstar"
    render-order="weapon"
    bind__visible="isPlaying && gameMode === 'ride'"></a-entity>
  <a-entity
    tail="target: #rightstar"
    render-order="weapon"
    bind__visible="isPlaying && gameMode === 'ride'"></a-entity>
</a-scene>
